<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <head>
        <%- include('./partials/head.ejs');  %>
        <title>Admin Dashboard</title>
    </head>
    <body style="font-family: Poppins;">
        <%- include('./partials/nav.ejs');  %>
        <!--Track Note Order Status-->
        <div class="form-1" id="dashboardContainer">
        <div class="content">
            <h4 class="title">Welcome <%- user.username %>, </h4>     
             
            <div class="widget-wrapper">
                <div class="widget-container">
                    <div>
                        Active Subscription
                    </div>
                    
                    <div class="dashboard-widget">
                        <div class="dashboard-content">
                            <div class="dashboard-widget-title dashboard-widget-number">
                                114
                            </div>
                            <div class="dashboard-widget-title dashboard-widget-subscription">
                                Subscriptions <br>
                                <div class="dashboard-widget-up">
                                    Up 8
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-container">
                    <div>
                        This Week's Sales
                    </div>
                    <div class="dashboard-widget">
                        <div class="dashboard-content">
                            <div class="dashboard-widget-title dashboard-widget-number">
                                $5,700
                            </div> 
                                <div class="dashboard-widget-up">
                                    Up $300
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        
            <!--settings page-->
            <div class="settings-page">
                <div class="settings-container">
                    <div class="settings-item">
                        <div class="content-data">

                        <h5 class="text-large">Track Note Order Status</h3>
                        <form class="card-containers" action="#" method="POST" style="display: flex ;">
                            <input class="text-field" type="text" name="order_id" placeholder="Order ID">
                            <input class="small-btn" type="submit" value="Track Order">
                        </form> <br>
                            <p class="text-med">Note from developer: if a CSV file fails to download, create a new note and download that. 
                                <br> A file may fail to download due to the nature of the development process, but this will not be a problem in production
                            </p> <br>
                            <h5 class="text-large">Campaign and Notes to be Shipped</h5>
                            <p class="text-med">8 notes are approved out of 10</p>
                            </div>
                            <div id="progressbar">
                                <div></div>
                            </div>

                            <div>
                                <ul class="breadcrumb">
                                  <li>Show Notes</li>
                                  <li><a href="#">Campaigns</a></li>
                                  <li><a href="#">Notes & Campaigns</a></li>
                                </ul>
                              </div>
                              


                            <!--display order-->
                            <div class="order-status">
                             
                            <!-- iterate through array of cards to be rendered, and render, passing through information from array -->
                            <% if (noteCardInformation) { %>
                                <% noteCardInformation.forEach(element => { %>
                                    <% if (element) { %>
                                        <%- include('./partials/admin/note_card.ejs', { 
                                            note_id: element.note_id, 
                                            user_id: element.user_id, 
                                            username: element.username, 
                                            email: element.email, 
                                            filename: element.filename, 
                                            status: element.note_status,
                                                }) %>
                                    <% } %>
                                <% }) %>
                            <% } else { %>
                                <p>No notes exist</p> 
                            <% } %>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>

    </body>
    <%- include('./partials/footer.ejs');  %>
</html>