<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <head>
        <%- include('./partials/head.ejs');  %>
        <title>Admin Dashboard</title>
    </head>
    <body style="font-family: Poppins;">
        <%- include('./partials/searchbar.ejs');  %>
        <%- include('./partials/nav.ejs');  %>
        
        <!--Track Note Order Status-->
        <div class="form-1" id="dashboardContainer">
        <div class="content">
            <h4 class="title">Welcome <%- user.username %>, </h4>     
             
            <div class="widget-wrapper">
                <div class="widget-container">
                    <div>
                        Active Subscription
                    </div>
                    
                    <div class="dashboard-widget">
                        <div class="dashboard-content">
                            <div class="dashboard-widget-title dashboard-widget-number">
                                114
                            </div>
                            <div class="dashboard-widget-title dashboard-widget-subscription">
                                Subscriptions <br>
                                <div class="dashboard-widget-up">
                                    Up 8
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-container">
                    <div>
                        This Week's Sales
                    </div>
                    <div class="dashboard-widget">
                        <div class="dashboard-content">
                            <div class="dashboard-widget-title dashboard-widget-number">
                                $5,700
                            </div> 
                                <div class="dashboard-widget-up">
                                    Up $300
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        
            <!--settings page-->
            <div class="settings-page">
                <div class="settings-container">
                    <div class="settings-item">
                        <div class="content-data">

                        <h5 class="text-large">Track Note Order Status</h3>
                        
                            <input class="text-field" type="text" name="order_id" placeholder="Order ID" id="track_order_input" style="margin-bottom: 40px;" onkeyup="trackOrder()">

                            <script>
                                function trackOrder() {
                                    // input = document.getElementById('track_order_input');
                                    // filter = input.value;

                                    console.log('hui')
                                    

                                    cards = document.getElementsByClassName('order_card')

                                    
                                    for (i = 0; i < cards.length; i++) {
                                        element = cards[i]
                                        var a = element.firstChild
                                        if (a.innerText != filter) {
                                            cards[i].style.display = "none";
                                        } else {
                                            cards[i].style.display = "";
                                        }

                                    }

                                }
                            </script>

                            <br>
                            
                            <h5 class="text-large">Campaign and Notes to be Shipped</h5>
                            <p class="text-med">8 notes are approved out of 10</p>
                            </div>
                            <div id="progressbar">
                                <div></div>
                            </div>

                            <div>
                                <ul class="breadcrumb">
                                    <li><a href="#" onclick="showOnlyNotes()">Show Notes</a></li>
                                    <li><a href="#" onclick="showOnlyCampaigns()">Campaigns</a></li>
                                    <li><a href="#" onclick="showNotesAndCampaigns()">Notes & Campaigns</a></li>

                                    <script>
                                        function showOnlyNotes() {
                                            //show notes
                                            document.getElementById("notes").style.display="block"
                            
                                            //hide campaigns
                                            document.getElementById("campaigns").style.display="none"
                                        }
                            
                                        function showOnlyCampaigns() {
                                            //show campaigns
                                            document.getElementById("campaigns").style.display="block"
                            
                                            //hide notes
                                            document.getElementById("notes").style.display="none"
                                        }
                            
                                        function showNotesAndCampaigns() {
                                            //show notes and campaigns
                                            document.getElementById("notes").style.display="block"
                                            document.getElementById("campaigns").style.display="block"
                                        }
                                    </script>

                                </ul>
                              </div>
                              


                            <!--display order-->
                            <div class="order-status">
                             
                            <!-- iterate through array of cards to be rendered, and render, passing through information from array -->
                            <div id="notes">
                                <% if (noteCardInformation) { %>
                                    <% noteCardInformation.forEach(element => { %>
                                        <% if (element) { %>
                                            <div class="order_card">

                                                <!-- used for sorting in javascript function -->
                                                <a style="display:none"><%- element.note_id %></a> 
                                                <!-- -->

                                                <%- include('./partials/admin/note_card.ejs', {
                                                    name: element.name,
                                                    note_id: element.note_id, 
                                                    user_id: element.user_id, 
                                                    username: element.username, 
                                                    email: element.email, 
                                                    filename: element.filename, 
                                                    status: element.note_status,
                                                        }) %>

                                            </div>
                                        <% } %>
                                    <% }) %>
                                <% } else { %>
                                    <p>No pending notes</p> 
                                <% } %>
                            </div>

                            <div id="campaigns">
                                <% if (campaignCardInformation) { %>
                                    <% campaignCardInformation.forEach(element => { %>
                                        <% if (element) { %>
                                            <div class="order_card">
                                                <%- include('./partials/admin/campaign_card.ejs', {
                                                    name: element.name,
                                                    campaign_id: element.campaign_id, 
                                                    user_id: element.campaign_id, 
                                                    username: element.username, 
                                                    email: element.email, 
                                                    filename: element.filename, 
                                                    status: element.campaign_status,
                                                        }) %>
                                            </div>
                                        <% } %>
                                    <% }) %>
                                <% } else { %>
                                    <p>No pending notes</p> 
                                <% } %>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        

    </body>
    <%- include('./partials/footer.ejs');  %>
</html>