<html>




    <%- include('./partials/head.ejs'); %>

<body>
    <%- include('./partials/searchbar-basic.ejs');  %>
    <%- include('./partials/nav.ejs'); %>

    <a onclick="toggleSidebar()" class="toggle-nav medium material-icons" style="cursor: pointer;">menu</a>

  <div class="form" id="dashboardContainer">
    <form class="regform" action="/user/reset_password/<%- uuid %> " method="POST">
        
      <h6 class="centre">scribblenotes.io</h6>   
      <br>
      <h5 class="centre">Reset your password</h5>
      <br>
      <p class="centre form-label">Enter a new password below</p>
      <br>
        <div class="mb-3">
          <label for="email" class="form-label">CONFIRM EMAIL</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">PASSWORD</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>

        <div class="mb-3">
            <label for="password2" class="form-label">CONFIRM PASSWORD</label>
            <input type="password" class="form-control" id="password2" name="password2">
        </div>

        <button type="submit" class="btn">Reset Password</button>
        <br>

        <br>

        <%- include ('./partials/messages.ejs'); %>

      </form>
    </div>
    

      


</body>

    <%- include('./partials/footer.ejs'); %>

</html>